body{
    padding: 0;
    margin: 0;
    font-family: 'My Soul', cursive;
    background: rgb(0, 255, 42);
}
.container{
    max-width: 1300px;
    background: cornflowerblue;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_link{
    text-decoration: none;
    color: blueviolet;
    font-size: 1.8rem;
    margin: 0 1px;
}
.menu_link img{
    height: 45px;
}
.games img{
    height: 200px;
}
.main{
    text-decoration: none;
    color: chartreuse;
}
.games img{
    height: 200px;
}
.button{
    font-size: 150px;
}

footer{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
    padding: 0.6px;
    font-size: 1.2rem;
}